<h1>Product Details Page</h1>

<div class="topbar">
<p style="float:left;">product : {{product.name}}</p>
<p >price : {{ product.price}}</p>
</div>

<ul class="nav navbar-nav ">
    <li ><a class="Button btn btn-primary" [routerLink]="['overview']" routerLinkActive="active">OverView </a></li>
    <li ><a class="Button btn btn-info" [routerLink]="['spec']" routerLinkActive="active">Specification </a></li>
</ul>

<router-outlet></router-outlet>


<p>
    <a class='Button btn btn-default' (click)="onBack()">Back to Product List </a>
</p>
